@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  background-color: #101828;
  color: whitesmoke;
}

li {
  padding: 1.5rem;
}

nav {
  margin: 1rem;

  .name,
  .resume {
    margin: 0 2rem;
  }
}
