@import "tailwindcss";

.main-app {
  @apply bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-white min-h-screen scroll-smooth;
}

.page {
  @apply min-h-screen
  border;
}

#canvas-elem::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(/background-l.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
}
