@import url('https://fonts.cdnfonts.com/css/general-sans');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body {
  font-family: 'General Sans', sans-serif;
  scroll-behavior: smooth;
}
